body {margin: 10px 12% 10px 12%;
      font-family: Verdana;
      text-align: justify;
      font-size: small;
      padding: 10px;
      line-height: 12pt;
     }

h1 {font-size: 12pt;}

.title {color: #990000;
	padding-bottom: 7px; 
	margin-bottom: 20px; 
	border-bottom: 1px solid #222;
       }

h2 {font-size: 12pt;
    padding-bottom: 4px; 
    margin-bottom: 5px;
    border-bottom: 1px solid #DDD;
   }

h3 {font-size: 11pt; color: #333333;}
h4 {font-size: 9pt;}

a {text-decoration: none;
   color: #006666
  }

a:visited {text-decoration: none; 
	   color: #336666
	  }

a:hover {text-decoration: underline; 
	 color: #003333
	}

.todo {color: #990000;}
.done {color: #006666;}
.timestamp-kwd {color: #444;}

.tag {color: #DDD; 
      font-size: 70%; 
      font-weight: 500;
     }

table {border: none;}

td {border: none; 
    padding: .1em .7em .1em .3em;}

th {border: none;}

code {font-size: 10pt;}

pre {border: 1px solid #555;
     background: #EEEEEE;
     font-size: 9pt;
     padding: 1em;
    }

img {border: none;}

.share img {opacity: .4;
	    -moz-opacity: .4;
	    filter: alpha(opacity=40);
	   }

.share img:hover {opacity: 1;
		  -moz-opacity: 1;
		  filter: alpha(opacity=100);
		 }
