.org-info-box {
    clear:both;
    margin-left:auto;
    margin-right:auto;
    padding:0.7em;
}
.org-info-box img {
    float:left;
    margin:0em 0.5em 0em 0em;
}
.org-info-box p {
    margin:0em;
    padding:0em;
}
.inlinetask {
    @extend .org-info-box;
    padding: 0.5em;
    background-color: #fcf2f2;
    border-radius: 0.7em;
    margin-left: 1em;
    margin-right: 1em;
}
.inlinetask::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 1.3em;
    height: 1.3em;
    background-image: url('/worg/images/icons/warning.svg');
    background-size: cover;
}
