body
{
  width:60em;
  padding:3em;
  line-height:1.3em;
  color:#333333;
  font-size:10pt;
  font-family:"DejaVu Sans",Verdana,Arial,sans-serif; /*"Bitstream Vera Serif", serif;*/
}

code, pre
{
  font-family:"DejaVu Sans Mono","Bitstream Vera Sans Mono",mono-space;
}

h1,h2
{
  font-family:"DejaVu Sans",Verdana,Arial,sans-serif; /*"DejaVu Serif","Bitstream Vera Serif", serif;*/
  font-weight:bold;
  color:#104d8c;
  text-align:left;
}

h3,h4,h5,h6
{
  font-family:"DejaVu Sans",Verdana,Arial,sans-serif; /*"DejaVu Serif","Bitstream Vera Serif", serif;*/
  font-weight:bold;
  color:#104d8c;
  text-align:left;
}

div
{
  text-align:left;
}

a
{
  text-decoration:none;
  cursor:pointer;
  color:#0000AA;
  font-style:italic;
}

a:hover
{
  text-decoration:underline;
  cursor:pointer;
  color:#0000AA;
}

a:visited
{
  text-decoration:none;
  cursor:pointer;
  color:#0000AA;
}

img, a img
{
  text-decoration:none;
  border-style:none;
}


#title
{
  text-align: center;
  margin-bottom:2em;
  line-height:1.2em;
}

#table-of-contents{ }

.outline-1{}
.outline-2{margin-top:2em;margin-left:0.5em}
.outline-3{margin-left:1em}
.outline-4{margin-left:1.5em}

ul
{
  padding-left:0px;
  margin-left:2em;
}

li
{
  margin-right:5ex;
  text-align:justify;
}

dt
{
  font-weight:bold;
}

p
{
  text-align:justify;
}

.todo
{
  color: red;
}

.done
{
  color: green;
}

.timestamp
{
  color: grey;
}

.timestamp-kwd
{
  color: CadetBlue;
}

.tag
{
  font-size:9pt;
  font-weight:normal;
  font-style:italic;
  color:orange;
}

table
{
  border-collapse: collapse;
}

th
{
  white-space:nowrap;
}

td, th
{
  vertical-align: top;
}

pre, code.pre
{
  /* width:80%; */
  margin-left:2%;
  margin-right:2%;
  margin-top:1em;
  margin-bottom:1em;
  padding:0.3em;
  display:block;
  background-color:#eeeeee;
  border:1px solid #cccccc;
}


li pre, li code.pre
{
  /* width:90%; */
  margin-left:0em;
  margin-top:1em;
  margin-bottom:1em;
  padding:0.3em;
  display:block;
  background-color:#eeeeee;
  border:1px solid #cccccc;
}


p pre
{
  margin:0px;
  padding:0px;
}

div.backlinks
{
  clear:both;
  text-align:right;
  margin-top:1em;
}
.backlinks a
{
  padding-top:0.1em;
  padding-bottom:0.1em;
  padding-left:0.3em;
  padding-right:0.3em;
  text-align:right;
  background-color:#DDDDFF;
  color:#6666CC;
  font-family:sans-serif;
  text-decoration:none;
  cursor:pointer;
}

div.zitat
{
  width:80%;
  margin-left:3em;
  margin-top:1em;
  margin-bottom:1em;
  padding:1em;
  background-color:#ffeeee;
  border:1px solid #cccccc;
}

div.leftColumn
{
  width:48%;
  float:left;
}

div.rightColumn
{
  width:48%;
  float:right;
}


li
{
}


/* footer */

div#postamble
{
  clear:both;
  padding-top:0.6em;
  padding-bottom:1em;
  margin-top:3em;
  border-top:1px solid #333333;
}

#postamble p
{
  width:100%;
  text-align:center;
  font-size:0.8em;
  color:#666666;
}

#postamble p.date
{
  width:40%;
  padding-left:2ex;
  float:left;
  text-align:left;
  font-size:0.8em;
  color:#999999;
}
#postamble p.author
{
  clear:both;
  width:40%;
  padding-right:2ex;
  float:right;
  font-size:0.8em;
  color:#999999;
  text-align:right;
  white-space:nowrap;
}

/* Styles for org-info.js */

.org-info-js_info-navigation
{
  border-style:none;
}

#org-info-js_console
{
  border-style:3px solid blue;
}

#org-info-js_console-label
{
  font-size:10px;
  font-weight:bold;
  font-family:Verdana,Arial,sans-serif;
  vertical-align:middle;
  padding-right:4px;
}

.org-info-js_search-highlight
{
  background-color:#adefef; /* emacs default */
  color:#000000;
  font-weight:bold;
}